---
title: ACT4ED
permalink: /act4ed/
group: "pages"
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
  {% include navbar.html %}
  <header>
    <div class="white-stripe" style="margin-bottom: 20px;"><br>
      <div class="container">
        <div class="row" style="padding-bottom: 10.4px;">
          <div class="col-sm-12">
            <h1 class="black-text"><b>1.144: Applied Category Theory for Engineering Design</b></h1>
          </div>
        </div>
      </div>
    </div>
    <body>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="black-text"><b>Logistics</b></h3> 
            <b>Instructor</b>: Prof. Gioele Zardini, <em>gzardini at mit dot edu</em><br>
            <b>Teaching Assistant</b>: Yujun Huang,  <em>yujun233 at mit dot edu</em><br>
            <b>Units</b>: 12 units, 4-0-8<br>
            <b>Lectures</b>: Mondays and Wednesdays, 11:00-12:30 pm (1-150)<br>
            <b>Recitations</b>: Fridays, 1:00-2:00 pm (1-246)<br>
            <b>Links</b>: Class materials will be made available on CANVAS<br>

            <h3 class="black-text"><b>Course Description</b></h3><br>

            <div style="display: flex; justify-content: center; margin-bottom: 20px;">
              <iframe width="800" height="450" src="https://www.youtube.com/embed/h6WQ2fLda2A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
When designing complex, multi-component systems, we need to consider multiple trade-offs at various abstraction levels and scales, and choices of single components need to
be studied jointly. 
For instance, the design of future mobility solutions (e.g., autonomous vehicles, micromobility) and the design of the mobility systems they enable are closely coupled. 
Indeed, knowledge about the intended service of novel mobility solutions would impact their design and deployment process, while insights about their technological development could significantly
affect transportation management policies. Approaching the co-design of these systems is a complex task for at least two reasons. On one hand, the co-design of interconnected systems
(e.g., large networks of cyber-physical systems) involves the simultaneous choice of components arising from heterogeneous natures (e.g., hardware vs. software parts) and fields, while satisfying
systemic constraints and accounting for multiple objectives. On the other hand, components are connected via collaborative and conflicting interactions between different stakeholders (e.g., within
an intermodal mobility system). 
In short, we lack tools that can enable the clear formulation and efficient solution of such complex, compositional design problems.
In various engineering and applied science domains, recognizing the significance of abstraction and compositionality can markedly enhance both problem understanding and solution development.
Applied Category Theory is a branch of mathematics that offers valuable insights into these
very aspects. 
A problem, however, is that this type of mathematics is not traditionally taught
– to date, there exists no easy path for engineers to learn category theory that is approachable
and emphasizes engineering applications, such as the ones presented above. This course aims at
filling this gap. It is designed not merely to teach category theory, but to foster the compositional
engineering way of thinking. Category theory will just be the means towards this end.<br><br>

The class covers topics from foundational principles to advanced applications, emphasizing the
role of compositional thinking in engineering. It showcases successful applications in areas such
as dynamical systems and automated system design optimization, with a focus on autonomous
robotics and mobility. Additionally, the course offers students the opportunity to work on their
own application through a dedicated project in the second half of the semester.<br><br>

<b>Pre-requisites:</b> Calculus, linear algebra, and dynamical systems at undergraduate level; or permission of instructor.<br><br>

<b>Syllabus</b>: The full syllabus is available <a href="{{ site.baseurl }}/assets/ACT4ED-Syllabus_25.pdf" target="_blank"><b>here</b></a>.<br>

<b>Class Materials</b>: Class materials are available <a href="https://drive.google.com/drive/folders/1n0LRATjMyWeE9LQ8PCNnCGx50nhULpCO?usp=share_link" target="_blank"><b>here</b></a>.


<h3>Literature</h3>
The official work-in-progress textbook for the class titled "Applied Category Theory for Engineering" is available <a href="https://bit.ly/3qQNrdR" target="_blank"><b>here</b></a>.<br>

<h3> In the News</h3>
Check out the <b><a class='black-link' href='https://cee.mit.edu/mit-students-apply-compositionality-to-real-world-engineering-design-problems/'>CEE news</a></b> about our class ACT4ED!
      
    

              </div>
            </div>
          </div>
      </body>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
