---
title: Activities
permalink: /activities/
group: "navigation"
order: 7
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
  {% include navbar.html %}
  <header>
    <div class="white-stripe" style="margin-bottom: 20px;">
      <div class="container">
        <div class="row" style="padding-bottom: 10.4px;">
          <div class="col-sm-12">
            <h1 class="black-text"><b>Activities</b></h1>
          </div>
        </div>
      </div>
    </div>
    <body>

      <div class="container">
        <div class="row">
          <div class="col-md-12">

      The Zardini Lab at MIT is active on many fronts, disseminating research in various occasions.

      <p>
        <h2>Teaching</h2>
      </p>

      

      <table>
        <tr>
          <td><b>S25 -</b></td>
              <td><b>1.104: Sensing and Intelligent Systems</b><br>
                Undergrad class, co-taught with Saurabh Amin.</td></tr>
            <tr>
          <td><b>F24 -</b></td>
          <td><a href="https://zardini.mit.edu/act4ed" target="_blank"><b>1.S980: Applied Category Theory for Engineering Design</b></a><br>
            Class on the relevance of ACT in engineering applications, including autonomy and mobility. Check out the  <a href="https://youtu.be/h6WQ2fLda2A?si=3sTC74qU94g7_XPy" target="_blank"><b>teaser</b></a>!</td></tr>
            <tr>
            </tr>
          </table>


      For teaching "pre-MIT" (at ETH Zurich), please refer to <b><a class="black-link" href="https://gioele.science/teaching">this</a></b>!


        <p>
          <h2>Seminars</h2>
        </p>
  
          <table>
            <tr>
              <td style="white-space: nowrap;"><b>2019 -</b></td>
              <td><a href="https://zardini.mit.edu/autonomytalks" target="_blank"><b>Autonomy Talks</b></a><br>
                Starting from Prof. Zardini's time at ETH Zurich, organized over 200 talks promoting exchange among research groups working on innovations in autonomy worldwide.<br>Watch the <a href="https://www.youtube.com/@autonomytalks/videos" target="_blank"><b>recordings</b></a>!</td>          </tr>
            <tr>
            </tr>
          </table>

     
      
      <p>
        <h2>Workshops and Tutorials</h2>
      </p>

        <table>
          <tr>
            <td style="white-space: nowrap;"><b>2025</b></td>
            <td>
              <a href="https://cat-cdc25.github.io" target="_blank"><b>Workshop on Control Architectures Theory (CAT)</b></a><br>
              Full day at the IEEE Conference on Decision and Control, Rio De Janeiro (Brasil)<br>
              Co-organized with Aaron Ames and Nikolai Matni
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2025</b></td>
            <td>
              <a href="https://acc2025.cats4control.com/" target="_blank"><b>Workshop on Applied Category Theory for Compositional Decision Making</b></a><br>
              American Control Conference 2025, Denver, CO, USA<br>
              Co-organized with James Fairbanks, Matthew Hale, and Aaron Ames
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2024</b></td>
            <td>
              <a href="https://cat-cdc24.github.io" target="_blank"><b>Workshop on Control Architectures Theory (CAT)</b></a><br>
              Full day at the IEEE Conference on Decision and Control, Milan (Italy)<br>
              Co-organized with Aaron Ames and Nikolai Matni
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2024</b></td>
            <td>
              <a href="https://rl4amod-itsc24.github.io" target="_blank"><b>Tutorial on Data-driven Methods for Network-level Coordination of Autonomous Mobility-on-Demand Systems Across Scales</b></a><br>
              Half day at the IEEE Intelligent Transportation Systems Conference, Edmonton (Canada)<br>
              Co-organized with D. Gammelli, L. Tresca, C. Schmidt, F. Rodrigues, J. Harrison, M. Schiffer, M. Pavone
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2024</b></td>
            <td>
              <b>Session on Design and Optimization of Societally-aware Mobility Systems</b><br>
              INFORMS Annual Meeting, Seattle, WA (USA)<br>
              Co-organized with Devansh Jalota, Matt Tsao
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2024</b></td>
            <td>
              <b>Session on Data-driven and Optimization Foundations for Emerging Mobility Systems</b><br>
              INFORMS Annual Meeting, Seattle, WA (USA)<br>
              Co-organized with Devansh Jalota, Matt Tsao
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2024</b></td>
            <td>
              <b>Tutorial on Automated Co-design of Complex Systems: From Autonomy to Future Mobility Systems</b><br>
              Design Automation Conference, San Francisco, CA (USA)<br>
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2024</b></td>
            <td>
              <b>Workshop on Challenges in Control for the Future of Mobility</b><br>
              Full day at the American Control Conference, Toronto (Canada)<br>
              Co-organized with Carlo Cenedese, Emilio Frazzoli, John Lygeros
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2023</b></td>
            <td>
              <b>Session on Co-Design and Coordination of Mobility Systems</b><br>
              INFORMS Annual Meeting, Phoenix, AZ (USA)
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2023</b></td>
            <td>
              <a href="https://sites.google.com/view/iros2023codesign/home" target="_blank"><b>1st Tutorial on Computational Co-Design for Robotics</b></a><br>
              Full day at the IEEE/RSJ International Conference on Intelligent Robots and Systems, Detroit, MI (USA)<br>
              Co-organized with Andrew Spielberg, Andrea Censi, and Emilio Frazzoli
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2023</b></td>
            <td>
              <b>2nd Workshop on Co-Design and Coordination of Future Mobility Systems</b><br>
              Full day at the IEEE Intelligent Transportation Systems Conference, Bilbao (Spain)<br>
              Co-organized with Dario Paccagnan, Maximilian Schiffer, Andrea Censi, Emilio Frazzoli
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2023</b></td>
            <td>
              <b>Special Session on Co-Design and Coordination of Future Mobility Systems</b><br>
              Full day at the IEEE Intelligent Transportation Systems Conference, Bilbao (Spain)<br>
              Co-organized with Dario Paccagnan, Maximilian Schiffer, Andrea Censi, Emilio Frazzoli
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2023</b></td>
            <td>
              <a href="https://idsc.ethz.ch/research-frazzoli/workshops/compositional-robotics-2023.html" target="_blank"><b>3rd Workshop on Compositional Robotics: Mathematics and Tools</b></a><br>
              Full day at the IEEE International Conference on Robotics and Automation (ICRA), London (UK)<br>
              Co-organized with Andrea Censi, Jonathan Lorand, Dejan Milojevic, Emilio Frazzoli, Brendan Fong, Paolo Perrone, John Baez, Dylan Shell, Alexandra Nilles, Andrew Spielberg, Anne Collin, Angeline Aguinaldo, Matthew Kvalheim, Paul Gustafson, Daniel Koditschek, Aaron Ames
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2022</b></td>
            <td>
              <a href="https://idsc.ethz.ch/research-frazzoli/workshops/futuremobilitycodesign-itsc22.html" target="_blank"><b>1st Workshop on Co-Design and Coordination of Future Mobility Systems</b></a><br>
              Full day at the IEEE Intelligent Transportation Systems Conference, Macao (China) (virtual)<br>
              Co-organized with Nicolas Lanzetti, Andrea Censi, Emilio Frazzoli
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2022</b></td>
            <td>
              <a href="https://idsc.ethz.ch/research-frazzoli/workshops/compositional-robotics-2022.html" target="_blank"><b>2nd Workshop on Compositional Robotics: Mathematics and Tools</b></a><br>
              Full day at the IEEE International Conference on Robotics and Automation (ICRA), Philadelphia, PA (USA)<br>
              Co-organized with Andrea Censi, Jonathan Lorand, Emilio Frazzoli, David Spivak, Brendan Fong, Paolo Perrone, John Baez, Dylan Shell, Alexandra Nilles, Andrew Spielberg, Anne Collin, Matthew Kvalheim, Paul Gustafson, Daniel Koditschek, Aaron Ames
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2021</b></td>
            <td>
              <a href="https://idsc.ethz.ch/research-frazzoli/workshops/compositional-robotics.html" target="_blank"><b>1st Workshop on Compositional Robotics: Mathematics and Tools</b></a><br>
              Full day at the IEEE International Conference on Robotics and Automation (ICRA) (virtual)<br>
              Co-organized with Andrea Censi, Jonathan Lorand, David Spivak, Brendan Fong, Nina Otter, Paolo Perrone, John Baez, Dylan Shell, Jason O'Kane, Alexandra Nilles, Andrew Spielberg, Emilio Frazzoli
            </td>
          </tr>
        </table>
        
    
    
      <p>
        <h2>Outreach</h2>
      </p>
        <br>
        <table>

          We started a series of interactive workshops for high school students, discussing research on mathematics for future cities, involving mobility studies, game theory, and co-design.
          <tr>
            <td style="white-space: nowrap;"><b>2022</b></td>
            <td>
              <b>4th Workshop on the Mathematics for Cities of the Future</b><br>
              Full day at TecDays, Muttenz (Switzerland)<br>
              Co-organized with Nicolas Lanzetti, Giuseppe Belgioioso, Saverio Bolognani, Christian Hartnik
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2022</b></td>
            <td>
              <b>3rd Workshop on the Mathematics for Cities of the Future</b><br>
              Full day at TecDays, Mendrisio (Switzerland)<br>
              Co-organized with Nicolas Lanzetti, Giuseppe Belgioioso, Saverio Bolognani, Christian Hartnik
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2022</b></td>
            <td>
              <b>2nd Workshop on the Mathematics for Cities of the Future</b><br>
              Full day at TecDays, Bellinzona (Switzerland)<br>
              Co-organized with Nicolas Lanzetti, Giuseppe Belgioioso, Saverio Bolognani, Christian Hartnik
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><b>2021</b></td>
            <td>
              <b>1st Workshop on the Mathematics for Cities of the Future</b><br>
              Full day at TecDays, Lugano (Switzerland)<br>
              Co-organized with Nicolas Lanzetti, Giuseppe Belgioioso, Saverio Bolognani, Christian Hartnik
            </td>
          </tr>
        </table>
        
      
    

              </div>
            </div>
          </div>
      </body>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
