---
title: Autonomy Talks
permalink: /autonomytalks/
group: "pages"
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
  {% include navbar.html %}
  <header>
    <div class="white-stripe" style="margin-bottom: 20px;">
      <div class="container">
        <div class="row" style="padding-bottom: 10.4px;">
          <div class="col-sm-12">
            <h1 class="black-text"><b>Autonomy Talks</b></h1>
          </div>
        </div>
      </div>
    </div>
    <body>

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            Autonomy Talks are open to everyone and no registration is required. 
            I started this seminar series in 2020, targeting the exchange among different groups working on innovations in autonomy.
            To this day, we had over 180 diverse speakers, all working on exciting topics.
            Have a look at previous talks on <a href="https://www.youtube.com/@autonomytalks" target="_blank">YouTube!</a> <br>
            Autonomy Talks take place virtually (11-12 EDT), on <a href="https://mit.zoom.us/j/91550254180" target="_blank">Zoom</a>.
            If you are interested, please join our <a href="http://eepurl.com/hk5urb" target="_blank">mailinglist</a>. <br><br>
            
            <br>

            <b>03/04/25 - Prof. Filipe Rodriguez, DTU</b><br>
            Title: Reinforcement Learning for Network Optimization in Transportation<br>

            <b>03/11/25 - Prof. Melissa Orta Martinez, Carnegie Mellon University</b><br>
            Title: From Haptic Devices to Interactive Machines: Unlocking the power of our touch sense<br>

            <b>03/18/25 - Prof. Nima Fazeli, University of Michigan</b><br>
            Title: TBD<br>

            <b>03/25/25 - Victoria Tuck, UC Berkeley</b><br>
            Title: TBD<br>

            <b>04/1/25 - Prof. Marco Pavone, Stanford University</b><br>
            Title: TBD<br>







            
      
    

              </div>
            </div>
          </div>
      </body>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
