---
title: Autonomy Talks
permalink: /autonomytalks/
group: "pages"
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
  {% include navbar.html %}
  <header>
    <div class="white-stripe" style="margin-bottom: 20px;">
      <div class="container">
        <div class="row" style="padding-bottom: 10.4px;">
          <div class="col-sm-12">
            <h1 class="black-text"><b>Autonomy Talks</b></h1>
          </div>
        </div>
      </div>
    </div>
    <body>

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            Autonomy Talks are open to everyone and no registration is required. 
            I started this seminar series in 2020, targeting the exchange among different groups working on innovations in autonomy.
            To this day, we had over 180 diverse speakers, all working on exciting topics.
            Have a look at previous talks on <a href="https://www.youtube.com/@autonomytalks" target="_blank">YouTube!</a> <br>
            Autonomy Talks take place virtually (11-12 EDT), on <a href="https://mit.zoom.us/j/91550254180" target="_blank">Zoom</a>.
            If you are interested, please join our <a href="http://eepurl.com/hk5urb" target="_blank">mailinglist</a>. <br><br>
            
            <br>

            
            <b>05/13/25 - Prof. Emma Tegling, Lund University</b><br>
            Title: Scalability of distributed control: fragilities and performance limitations<br>


        


            
      
    

              </div>
            </div>
          </div>
      </body>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
