---
title: Diagrams
permalink: /diagrams/
group: "pages"
stylesheets:
  - /css/diagrams.css
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
  {% include navbar.html %}
  <header>
    <div class="white-stripe" style="margin-bottom: 20px;">
      <div class="container">
        <div class="row" style="padding-bottom: 10.4px;">
          <div class="col-sm-12">
            <h1 class="black-text"><b>Deep Learning Diagrams</b></h1>
          </div>
        </div>
      </div>
    </div>
    <body>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% include_relative diagrams/diagrams_intro.md %}
              </div>
            </div>
          </div>
      </body>
  </header>
<!-- 
  <header>
    <div class="white-stripe" style="margin-bottom: 20px;">
      <div class="container">
        <div class="row" style="padding-bottom: 10.4px;">
          <div class="col-sm-12">
            <h1 class="black-text"><b>Works</b></h1>
          </div>
        </div>
      </div>
    </div>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
              This research opens many branches for further work at the intersection of category theory and the practical aspects of deep learning design, including optimizing resource usage.
              So far, we have published <i>FlashAttention on a Napkin</i> in addition to Vincent Abbott's <a class="blue-link" href="https://openreview.net/forum?id=RyZB4qXEgt">previous</a> <a class="blue-link" href="https://www.vtabbott.io/content/files/2023/11/Robust-Diagrams-for-Deep-Learning-Architectures.pdf">works</a>.
            </p>

            {% bibliography -q @*[title=FlashAttention on a Napkin: A Diagrammatic Approach to Deep Learning IO-Awareness] %}
            
            <p>
              Future work will encompass:
              <ul>
                <li><b>Formalizing the category theory</b> further, developing a symbolic framework which captures diagrams and the graphical "moves" for deriving optimizations.</li>
                <li>Developing an automated framework which uses a <b>categorical data structure</b> for converting between standard PyTorch implementations, to the symbolic framework, and then to optimized code and accurate performance models.</li>
                <li>Creating a <b>graphical dashboard</b> which incorporates these tools, allowing deep learning engineers to work directly with diagrams and be automatically notified of various resource usage considerations.</li>
                <li>Integrating our work on resource analysis of deep learning algorithms to <b>categorical co-design</b>, allowing us to optimize the full deep-learning stack, including hardware.</li>
              </ul>
            </p>
            
            The aim, then, is to use category theory to create an indispensible tool for innovating efficient deep learning models.

              </div>
            </div>
          </div>
      </body>
  </header> -->

  <header>
    <div class="white-stripe" style="margin-bottom: 20px;">
      <div class="container">
        <div class="row" style="padding-bottom: 10.4px;">
          <div class="col-sm-12">
            <h1 class="black-text" id="interactive-diagrams"><b>Interactive Diagrams of Complete Architectures</b></h1>
          </div>
        </div>
      </div>
    </div>
    <body>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
              Each diagram below is an expression written with <a class="blue-link" href="https://github.com/mit-zardini-lab/pyncd">PyNCD</a> and drawn by <a class="blue-link" href="https://github.com/mit-zardini-lab/tsncd">TSNCD</a>.
              The diagrams below include foundational, tutorial models such as standard attention variants.
              This builds up to classic models: <i>Attention is All You Need</i>, <i>Mixtral-8x7B</i>, and <i>DeepSeek-V3</i>. Finally, there are the modern models: <i>GLM-5.3</i>, and the absolute artwork which is <i>DeepSeek-V4.1-Flash</i>, with all its mixed streams, batched indexers, and engram hashings.
            </p>
            <p>
              There are three forms of diagrams: arrows and boxes, arrows and broadcasted, and all broadcasted. These go from how models are typically expressed without broadcasting information, through to the full NCD expressions which are akin to "seeing like a GPU".
              Different "views" of the same model are possible, and each is procedurally derived from the base form by the tools in PyNCD. A quantized abstract representation is sufficient to derive the unquantized form, the training algorithm, and the cached algorithm. You will also find a link to the notebooks which generates the models. So, go ahead and start exploring.
            </p>
            {% assign default_diagram = site.data.diagrams.models | where: "slug", site.data.diagrams.default | first %}
            {% include diagram-viewer.html diagram=default_diagram mode="inline" %}
              </div>
            </div>
          </div>
      </body>
  </header>
  {% include javascript.html %}
  <script src="{{ site.baseurl }}/js/diagram-viewer.js?v={{ site.time | date: "%s" }}"></script>
  {% include footer.html %}
</body>
</html>
