---
title: Join
permalink: /join/
group: "navigation"
order: 7
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
  {% include navbar.html %}
  <header>
    <div class="white-stripe" style="margin-bottom: 20px;">
      <div class="container">
        <div class="row" style="padding-bottom: 10.4px;">
          <div class="col-sm-12">
            <h1 class="black-text"><b>Join the group</b></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
    We are always looking for highly motivated and talented people to join my lab. <br> <br>

		Driven by societal challenges, the goal of our research is to develop efficient computational tools and algorithmic approaches to formulate and solve complex, interconnected system design and autonomous decision making problems. 
		Our interests include future mobility and energy systems, autonomy (with a focus on planning and control), optimization, compositionality in engineering, game theory, and applied category theory. <br><br>

		<b>Prospective Masters/Ph.D. students:</b> I am part of LIDS, IDSS, and CEE, and will be considering candidates primarily via CEE, SES (IDSS), EECS, ME, Transportation, TPP, AeroAstro, and OR.
			If you are interested in working with me, a) apply to any of these programs, b) make sure to mention my name in your application, and c) write me an e-mail (at <em>gzardini at mit.edu</em>) with subject "Prospective student - YOURNAME", attaching your CV, a brief description of your research interests, why you are interested in working with me, and any relevant material. <br> 
			
			You can find details about doctoral programs at MIT <a href="https://oge.mit.edu/graduate-admissions/programs/doctoral-degrees/">here</a>.<br> <br>
			
		<b>Current Undergraduate/Masters/Ph.D. students:</b> please follow the same instructions as above, but using subject "Current student - YOURNAME". <br> <br>



			
	<h1>Useful resources</h1>

	The application process for Ph.D. positions can be challenging and opaque.
	Please check the following resources for useful information.
	Credits to my friend Andrea Bajcsy (CMU) for providing some of the links below.
	Feel free to suggest new entries if you see fit.

			

	<p style="margin-top:-0.0cm;">
        <ul>
            <li style="margin:10px 0px"><b>Overall advice</b>: <a href="https://github.com/shaily99/advice#examples">This repository</a> contains important advice on most aspects of the Ph.D. life, including writing statements, a CV, and how to approach the experience. </li>
			<li style="margin:10px 0px"><b>Scholarships/Fellowships</b>: Here a non-exhaustive list of resources for fellowships:</b></li>
			<ul>
				<li><b><a href="https://www.nsfgrfp.org">NSF Graduate Research Fellowship</a></b></li>
				<li><b><a href="https://ndseg.sysplus.com">DOD NDSEG</a></b></li>
				<li><b><a href="https://www.hertzfoundation.org/the-fellowship/">Hertz Fellowship</a></b></li>
				<li><b><a href="https://www.nasa.gov/directorates/spacetech/strg/nstgro">NASA Space Technology Graduate Research Opportunities</a></b></li>
				<li><b><a href="https://www.smartscholarship.org/smart">DOD SMART</a></b></li>
				<li><b><a href="https://www.microsoft.com/en-us/research/academic-program/phd-fellowship/">Microsoft Fellowhip</a></b></li>
				<li><b><a href="https://www.siebelscholars.com">Siebel Scholars</a></b></li>
				<li><b><a href="https://research.google/outreach/phd-fellowship/">Google Ph.D. Fellowship</a></b></li>
				<li><b><a href="https://research.nvidia.com/graduate-fellowships">NVIDIA Ph.D. Fellowship</a></b></li>
				<li><b><a href="https://machinelearning.apple.com/updates/introducing-apple-scholars-aiml">Apple Ph.D. Fellowship</a></b></li>
				<li><b><a href="https://www.fhwa.dot.gov/careers/ddetfp.cfm">Dwight David Eisenhower Transportation Fellowship Program</a></b></li>
				<li><b><a href="https://urldefense.com/v3/__https://www.pathwaystoscience.org/programs.aspx?adv=adv__;!!Mih3wA!VtPgNdeIipLWqtoNu7Iq2Q1GV-iPtX5elYP9dsR9UDzVWQhogx6dZmHonHGjMTI$">Pathways to Science portal</a></b></li>

			</ul>
			<li style="margin:10px 0px"><b><a href="https://oge.mit.edu/community-diversity/prospective-students/graduate-application-assistance-programs-gaap/">MIT Graduate Application Assistance Programs</a></b></li>

			
			<li style="margin:10px 0px"><b><a href="https://www.darpa.mil/work-with-us/heilmeier-catechism">The Heilmeier Catechism</a></b> to write effective proposals/statements</li>

			<li style="margin:10px 0px"><b>5 minutes with Cyrill</b>: Prof. Cyrill Stachniss from University of Bonn created a <a href="https://www.ipb.uni-bonn.de/5min/">series</a> of 5-minutes videos on fundamental skills for researchers.</b></li>
			<li style="margin:10px 0px"><b><a href="http://karpathy.github.io/2016/09/07/phd/">Andrej Karpathy's Blog</a></b> (on surviving the Ph.D. experience)</li>
			

			
			<li style="margin:10px 0px"><b>Online seminars</b>: Want to watch research talks and listen to technical podcasts on many different topics? Check out the following recordings from online seminars:</li>
			<ul>
				<li><b><a href="https://zardini.mit.edu/autonomytalks">Autonomy Talks</a></b> (founded and run by me)</li>
				<li><b><a href="https://www.youtube.com/@MITRoboticsSeminar/videos">MIT Robotics Seminar</a></b></li>
				<li><b><a href="https://www.youtube.com/@mitembodiedintelligence8675">MIT Embodied Intelligence Seminar</a></b></li>
				<li><b><a href="https://idss.mit.edu/news-events/the-news/podcast-data-nation/">MIT IDSS Data Nation Podcast</a></b></li>
				<li><b><a href="https://roboticstoday.github.io">Robotics Today</a></b></li>
				<li><b><a href="https://www.ri.cmu.edu/ri-seminar-series/">CMU RI Seminar</a></b></li>
				<li><b><a href="https://robotics.illinois.edu/robotics-seminar-series/">UIUC Robotics Seminar</a></b></li>
				<li><b><a href="https://www.youtube.com/@grasplab/videos">UPenn GRASP Lab's Seminars</a></b></li>
				<li><b><a href="https://www.youtube.com/@uwcse/videos">UW's CS Seminars</a></b></li>
				<li><b><a href="https://sites.google.com/view/control-meets-learning/past-seminars">Control Meets Learning</a></b></li>
				<li><b><a href="https://www.incontrolpodcast.com">ETHZ's In Control Podcast</a></b></li>
				<li><b><a href="https://topos.site/topos-colloquium/">Topos Institute Colloquium</a></b> (Applied Category Theory)</li>
			</ul>



		</ul>
	</p>
        </div>
      </div>
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
