---
title: People
permalink: /people/
group: "navigation"
order: 3
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  {% include relBase.html %}
  <style>
    .fixed-image {
      width: 220px; /* Adjust the width as needed */
      height: 220px; /* Adjust the height as needed */
      object-fit: cover; /* This ensures the image fills the specified dimensions without distortion */
    }
  </style>
  <body id="page-top" class="index">
    {% include navbar.html %}
      <header>
      <div class="white-stripe" style="height: 80px; margin-bottom: 40px;">
        <div class="container">
          <div class="row">
      	    <div class="col-sm-12">
              <h1 class="black-text"><b>Director</b></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
          <div class="row person-row">
          {% assign sortedPeople = site.people | sort: 'last' %}
          {% for person in sortedPeople %}{% if person.position == "faculty" %}
            <div class="col-sm-4">
              <a href={{person.url}}><img class="img-responsive" style="border-radius: 20%;" src="{{ relBase }}{{person.imgurl}}{{ person.img}}" alt="{{ person.title }}" ></a>
            </div>
            <div class="col-sm-8">
              <h3 style="margin-top: 0px;"><a href={{person.url}}>{{ person.title }}</a></h3>
              <hr class="person-sep">
              <div class="person-excerpt">{{ person.content }}</div>
            </div>
          {% endif %}{% endfor %}
        </div>
      </div>

        <div class="white-stripe" style="height: 80px; margin-top: 20px; margin-bottom: 40px;">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="black-text"><b>Research Team</b></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
        {% assign loopindex = 0 %}
        {% for person in sortedPeople %}{% if person.position == "postdoc" or person.position == "phdcee" or person.position == "mtsdmeecs" or person.position == "phdeecs" or person.position == "phdidss" or person.position == "phdtr" or person.position == "urop" or person.position == "phdme"%}   
          {% assign loopindex = loopindex | plus: 1 %}
          {% assign rowfinder = loopindex | modulo: 4 %}
          {% if rowfinder == 1 %}
          <div class="row person-row">
          {% endif %}
            <div class="col-3 col-sm-3 col-md-3">
              <a href={{person.url}}><img class="img-responsive img-resize fixed-image" style="border-radius: 20%;" src="{{ relBase }}{{person.imgurl}}{{ person.img}}" alt="{{ person.title }}"></a>
              <h6 class="person-name"><a href={{person.url}}>{{ person.title }}</a></h6>
              {% if person.position == "postdoc" %}
              <p class="person-position">Postdoctoral Scholar</p>
              {% elsif person.position == "mtsdmeecs" %}
              <p class="person-position">MT Student (SDM + EECS)</p>
              {% elsif person.position == "phdeecs" %}
              <p class="person-position">Graduate Student (EECS)</p>
              {% elsif person.position == "phdme" %}
              <p class="person-position">Graduate Student (ME)</p>
              {% elsif person.position == "phdcee" %}
              <p class="person-position">Graduate Student (CEE)</p>
              {% elsif person.position == "phdidss" %}
              <p class="person-position">Graduate Student (SES)</p>
              {% elsif person.position == "phdtr" %}
              <p class="person-position">Graduate Student (TR)</p>
              {% elsif person.position == "urop" %}
              <p class="person-position">UROP</p>
              {% endif %}
              <hr class="person-sep">
              <p class="person-excerpt">{{ person.excerpt }}</p>
            </div>
          {% if rowfinder == 0 %}
          </div>
          {% endif %}
        {% endif %}{% endfor %}
        {% if rowfinder != 0 %}
          <!-- In case the last row has < 4 people. -->
          </div>
        {% endif %}
        </div>

        

      <div class="white-stripe" style="margin-bottom: 25px;">
        <div class="container">
          <div class="row" style="padding-bottom: 10.4px;">
            <div class="col-sm-12">
              <h1 class="black-text"><b>Visiting Students</b></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        {% assign loopindex = 0 %}
        {% for person in sortedPeople %}{% if person.position == "visiting" %}   
          {% assign loopindex = loopindex | plus: 1 %}
          {% assign rowfinder = loopindex | modulo: 4 %}
          {% if rowfinder == 1 %}
          <div class="row person-row">
          {% endif %}
            <div class="col-3 col-sm-3 col-md-3">
              <a href={{person.url}}><img class="img-responsive img-resize fixed-image" style="border-radius: 20%;" src="{{ relBase }}{{person.imgurl}}{{ person.img}}" alt="{{ person.title }}"></a>
              <h6 class="person-name"><a href={{person.url}}>{{ person.title }}</a></h6>
              <hr class="person-sep">
              <p class="person-position">{{ person.wherefrom }}</p>
              <!-- <p class="person-excerpt">{{ person.excerpt }}</p> -->
            </div>
          {% if rowfinder == 0 %}
          </div>
          {% endif %}
        {% endif %}{% endfor %}
        {% if rowfinder != 0 %}
          <!-- In case the last row has < 4 people. -->
          </div>
        {% endif %}
      </div>

      <div class="white-stripe" style="height: 80px; margin-bottom: 40px;">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="black-text"><b>Research Affiliates</b></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
      We often work with exceptional researchers beyond our core group, inside and outside MIT.
      Here is a list of the current collaborators. <br>
      {% assign loopindex = 0 %}
      {% for person in sortedPeople %}{% if person.position == "externalresearchaffiliate" %}   
        {% assign loopindex = loopindex | plus: 1 %}
        {% assign rowfinder = loopindex | modulo: 4 %}
        {% if rowfinder == 1 %}
        {% endif %}
        <h6 class="person-name"><a href={{person.url}}>{{ person.title }}</a> ({{ person.current }})</h6>
            <!-- <p class="person-excerpt">{{ person.excerpt }}</p> -->
        {% if rowfinder == 0 %}
        {% endif %}
      {% endif %}{% endfor %}
      {% if rowfinder != 0 %}
        <!-- In case the last row has < 4 people. -->
        ... and more to be added!
        </div>
      {% endif %}
    </div>

    <div class="white-stripe" style="height: 80px; margin-bottom: 40px;">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="black-text"><b>Alumni</b></h1>
            {% assign loopindex = 0 %}
    {% for person in sortedPeople %}{% if person.position == "alumni" %}   
      {% assign loopindex = loopindex | plus: 1 %}
      {% assign rowfinder = loopindex | modulo: 4 %}
      {% if rowfinder == 1 %}
      {% endif %}
      <h6 class="person-name"><a href={{person.url}}>{{ person.title }}</a> ({{ person.current }})</h6>
          <!-- <p class="person-excerpt">{{ person.excerpt }}</p> -->
      {% if rowfinder == 0 %}
      {% endif %}
    {% endif %}{% endfor %}
    {% if rowfinder != 0 %}
    {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="white-stripe" style="height: 80px; margin-bottom: 40px;">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="black-text"><b>Lab Socials</b></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <!-- First Image with Caption -->
        <div class="col-sm-6">
          <img src="{{ site.baseurl }}/assets/group_lunch_fall24.png" class="img-fluid" alt="First group meeting over lunch, Fall'24." style="margin-bottom: 10px;">
          <p class="text-center"><strong>First group meeting over lunch, Fall'24.</strong></p>
        </div>
    
        <!-- Second Image with Caption -->
        <div class="col-sm-6">
          <img src="{{ site.baseurl }}/assets/escape_room_fall24_1.png" class="img-fluid" alt="Lab event 2" style="margin-bottom: 10px;">
          <p class="text-center"><strong>Escape room kick-off event, Fall'24</strong></p>
        </div>
      </div>
    
      <div class="row">
        <!-- Third Image with Caption -->
        <div class="col-sm-6">
          <img src="{{ site.baseurl }}/assets/escape_room_fall24_2.png" class="img-fluid" alt="Lab event 3" style="margin-bottom: 10px;">
          <p class="text-center"><strong>Escape room kick-off event, Fall'24.</strong></p>
        </div>
    
        <!-- Fourth Image with Caption -->
        <div class="col-sm-6">
          <img src="{{ site.baseurl }}/assets/ice_cream_fall24.png" class="img-fluid" alt="Lab event 4" style="margin-bottom: 10px;">
          <p class="text-center"><strong>Sugar boost, Fall'24.</strong></p>
        </div>
      </div>
    </div>
    </header>
    {% include javascript.html %}
    {% include footer.html %} 
  </body>
</html>
