---
title: Research
permalink: /Research/
group: "navigation"
order: 2
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
  {% include navbar.html %}
  <header>
    <div class="white-stripe" style="margin-bottom: 20px;">
      <div class="container">
        <div class="row" style="padding-bottom: 10.4px;">
          <div class="col-sm-12">
            <h1 class="black-text"><b>Research</b></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center">
        <p>Driven by societal challenges, the goal of the Zardini Lab at MIT is to <b>develop efficient computational tools and algorithmic approaches to formulate and solve complex, interconnected system design and autonomous decision-making problems</b>. 
          The complexity has at least two origins. <br> <br>
          First, the co-design of complex systems (e.g., large networks of cyber-physical systems) involves the simultaneous choice of components arising from heterogeneous natures (e.g., hardware vs. software parts), while satisfying systemic constraints and accounting for multiple objectives. <br>
          Second, different components are interconnected via interactions between different stakeholders, which often feature multiple, conflicting objectives (e.g., within an intermodal mobility system). <br> <br>
          Typically, solving this kind of problems is attempted by employing multi-objective optmization techniques, which tend to lack computational scalability, modularity, compositionality, and, importantly, interpretability and interdisciplinarity. <br><br>
          
          Equipped with strong mathematical skills, and a broad and diverse engineering background, we solve such problems by employing and enhancing techniques from optimization, control theory, game theory, domain theory, and applied category theory, and we apply results to society-critical problems in mobility, logistics, autonomy, automotive, aerospace, energy, and complex systems in general. <br><br>
          
          Specifically, our research focuses on three pillars: <br><br><br></p>
          
      </div>
    </div>
  </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
          <!-- Left column with the first image -->
          <img src="/icons-02.png" style="max-width: 70%;" class="img-fluid">
      </div>
      <div class="col-md-8">
          <!-- Right column with text corresponding to the first image -->
          <p><b>Modeling and Algorithmic Foundations:</b> 
          We develop modeling and algorithmic tools which allow one to computationally solve compositional design and autonomous decision making problems. 
          The developed tools must provide designers with a computationally and intellectually tractable framework, which supports both model-based and data-driven/simulation-based approaches, and enables the customized specification of multiple objectives.
          We are currently at the edge of complex engineering systems co-design, and are developing tools which promote interdisciplinarity (e.g., within different engineering teams, but also within different parties in large, interconnected decision processes), computational efficiency, and explicitly consider strategic interactions of stakeholders involved.<br><br><br></p>
          </div>
    </div>
      <div class="row">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
          <!-- Left column with the first image -->
          <img src="/icons-03.png" style="max-width: 70%;" class="img-fluid">
        </div>
        <div class="col-md-8">
          <!-- Right column with text corresponding to the first image -->
          <p><b>Societal Applications:</b>
            We apply our methological advances to societally-critical problems, arising in the fields of task-driven autonomy (all the way from single platform to interacting fleet-based services), mobility and logistics, automotive, aerospace, and energy systems.
            
            How do you approach the task-driven co-design of a robot? (all the way from choosing hardware parts, to designing specific algorithms?)<br>
            How do you facilitate the human-centered design of an intermodal mobility and energy system? <br>
            How do you design, plan, and execute a complex mission featuring multiple, interconnected stakeholders? (e.g., in the aerospace domain)<br>
            These are some of the things that keep us up at night!<br><br><br></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
          <!-- Left column with the first image -->
          <img src="/icons-04.png" style="max-width: 70%;" class="img-fluid">
      </div>
      <div class="col-md-8">
          <!-- Right column with text corresponding to the first image -->
          <p><b>User-friendly tools:</b>
            In our work, we not only care about the "developer" perspective, and strongly consider the "user" one. 
            We aim for our research results to be continuously employed and challenged in real life, and want users, belonging to various backgrounds, to smoothly leverage them for their purposes. 
            In this context, we usually deploy the developed methodologies on several demos, creating libraries of models, which researchers and practictioners can (autonomously or in teams) contribute to. 
            We are extremely active in organizing workshops, tutorials, and classes, with the goal of enlarging the diverse community interested in the developed tools, and learn more about needs in the field.
            </p>
          </div>
    </div>
    <br><br>
    Our research is generously sponsored by MIT, the Rudge (1948) and Nancy Allen Chair, AFOSR/AFRL, Amazon, the USA Department of Energy, the Norman B. Leventhal Center for Advanced Urbanism, the MIT Maritime Consortium, and the MIT-Imperial College London Seed Fund (MISTI UK).


  <h2>In the News</h2>

	Here is a collection of news articles where you could find out more about our work:


	<p style="margin-top:-0.0cm;">
        <ul> 
          <li style="margin:10px 0px"><b>09/04/25 - MIT LIDS News</b>: <a href="https://lids.mit.edu/news-and-events/news/gioele-zardini-receives-2025-darpa-young-faculty-award%C2%A0"><b>'LIDS News on the DARPA Young Faculty Award'</b></a></li>
          <li style="margin:10px 0px"><b>02/28/25 - MIT News Spotlight</b>: <a href="https://news.mit.edu/2025/designing-new-way-optimize-complex-coordinated-systems-0424"><b>'Designing a new way to optimize complex coordinated systems'</b></a> on our work on compositional architectures. Humbled to receive such positive feedback from Jeremy Howard and Petar Veličković!</li>
          <li style="margin:10px 0px"><b>04/1/25 - The Tech</b>: <a href="https://thetech.com/2025/03/06/cee-symposium-2025 "><b>'Article about CEE Research Day'</b></a>.</li>
          <li style="margin:10px 0px"><b>02/28/25 - MIT News Spotlight</b>: <a href="https://news.mit.edu/2025/sometimes-when-competitors-collaborate-everybody-wins-0227"><b>'Sometimes, when competitors collaborate, everybody wins'</b></a> on our work on co-opetitive network design.</li>
            <li style="margin:10px 0px"><b>01/14/25 - MIT CEE News</b>: Check out the <b><a class='black-link' href='https://cee.mit.edu/mit-students-apply-compositionality-to-real-world-engineering-design-problems/'>article</a></b> about our ACT4ED class at MIT!</li>
            <li style="margin:10px 0px"><b>01/09/25 - MIT CEE News</b>: Check out the <b><a class='black-link' href='https://cee.mit.edu/mit-researchers-awarded-federal-grant-to-enhance-transit-accessibility-for-underserved-communities/'>article</a></b> about our new M-CATS project with U.S. DoE!</li>
            <li style="margin:10px 0px"><b>11/17/24 - MIT LIDS News</b>: Check out the <b><a class='black-link' href='https://lids.mit.edu/news-and-events/news/gioele-zardini-receives-2024-eth-doctoral-dissertation-award'>article</a></b> about Gioele's ETH Medal!</li>
            <li style="margin:10px 0px"><b>09/07/24 - MIT CEE News</b>: Check out the <b><a class='black-link' href='https://cee.mit.edu/faculty-spotlight-gioele-zardini/'>faculty spotlight</a></b>!</li>
            <li style="margin:10px 0px"><b>06/10/24 - IEEE CSM</b>: Check out <b><a class='black-link' href='https://ieeexplore.ieee.org/ielx8/5488303/10555169/10555200.pdf?tp=&arnumber=10555200&isnumber=10555169&ref=aHR0cHM6Ly9pZWVleHBsb3JlLmllZWUub3JnL2RvY3VtZW50LzEwNTU1MjAw'>Gioele's interview</a></b> in the IEEE Control Systems Magazine!</li>
          </ul>
  </p>

</div>


</header>
{% include javascript.html %}
{% include footer.html %}
</body>
</html>
