---
title: {{site.title}}
---
<!DOCTYPE html>
<html>
  {% include head.html %}
{% include relBase.html %}
<body id="page-top" class="index">
  {% include navbar.html %}
  {% assign sorted_slides = site.slides | sort:"date" | reverse %}
  <header>
               
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin-top: 30px;">
          <h2 class="black-text">About Us</h2>
          {% assign num_phdscee = site.people | where: "position","phdcee" | size %}
          {% assign num_phdseecs = site.people | where: "position","phdeecs" | size %}
          {% assign num_phdsidss = site.people | where: "position","phdidss" | size %}
          {% assign num_phdstr = site.people | where: "position","phdtr" | size %}
          {% assign num_postdocs = site.people | where: "position","postdoc" | size %}
          {% assign num_visiting = site.people | where: "position","visiting" | size %}
          {% assign num_researchers = 1 | plus: num_phdscee | plus: num_phdseecs | plus: num_phdsidss | plus: num_phdstr | plus: num_postdocs | plus: num_visiting %}
          <p>Driven by societal challenges, the goal of the Zardini Lab at MIT is to <b>develop efficient computational tools and algorithmic approaches to formulate and solve complex, interconnected system design and autonomous decision-making problems.</b> 
            Applications feature society-critical problems in mobility, logistics, autonomy, automotive, aerospace, energy, and complex systems in general.
            The lab, comprised of researchers equipped with strong mathematical skills and diverse engineering backrounds, solves such problems by employing and enhancing techniques from optimization, control theory, game theory, domain theory, and applied category theory.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row" style="margin-top: 40px; margin-bottom: 40px;">
        <div class="col-md-12">
          <p class="black-text">Check out our latest publications <a class="black-link" href="/publications">here</a>!</p> <br><br>
          The lab will officially hit the ground in summer 2024!<br><br>

          <b>Upcoming talks by Prof. Zardini:</b>
          <ul>
            <li>04/25/24: Seminar at Topos Institute Colloquium, Berkeley</li>
            <li>05/06/24: Talk at SISL, Stanford</li>
            <li>06/28/24: Special Seminar at Caltech</li>
        </div>
      </div>
    </div>

    

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="black-text">News</h2>
          {% assign event_count = 0 %}
          {% for item in site.data.news reversed %}
            {% for event in item.events reversed %}
              {% if event_count < 20 %}
              <div style="margin-bottom: 10px;"></div>
                <b>{{ event.date }}</b> - {{ event.description }} <br>
                {% assign event_count = event_count | plus: 1 %}
              {% else %}
                {% break %}
              {% endif %}
            {% endfor %}
            {% if event_count >= 20 %}
              {% break %}
            {% endif %}
          {% endfor %}
          <br>
          <p class="black-text">For the entire list of news, please refer to <b><a class="black-link" href="/news">news</a></b>!</p>
        </div>
      </div>
    </div>
  </div>
      
    <br><br><br>
    </div>
    <div class="mit-stripe">
    <div class="container">
      <div class="container">
        <div class="row" style="margin-top: 24px; margin-bottom: 24px;">
          <div class="col-md-6 white-text" style="margin-top: 35px;">
            <h2 class="white-text">Contact Us</h2>
            <p>Zardini Lab<br>
            Massachusetts Institute of Technology<br>
            Laboratory for Information and Decision Systems<br>
            Address in Progress<br>
          </p>
          </div>
          <div class="col-md-6 hide-on-med-width">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.10462641561!2d-71.09321042414989!3d42.361609471192786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e370a95d3025a9%3A0xb1de557289ff6bbe!2sRay%20and%20Maria%20Stata%20Center%2C%2032%20Vassar%20St%2C%20Cambridge%2C%20MA%2002139%2C%20Stati%20Uniti!5e0!3m2!1sit!2sch!4v1704182107853!5m2!1sit!2sch" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
